.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  padding-top: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navlink {
  margin: 12px;
  color: purple;
  text-decoration: none;
  border-right: 1px solid white;
  padding: 6px;
}

.activeNavlink {
  background: purple;
  margin: 12px;
  color: white;
  text-decoration: none;
  border-right: 1px solid white;
  padding: 6px;
}
