div.filter {
  display: inline-block;
  padding: 30px;
  margin: 1px;
  text-align: left;
  border-right: 1px solid purple;
  height: 200px;
  vertical-align: top;
}

.filter-title {
  text-align: left;
}
