.recom-container {
  height: 100%;
  margin: 15px;
  margin-top: 0px;
  padding: 10px;
  padding-top: 0px;
  background-color: white;
}


.restaurant-type img {
  height: 50px;
}

.restaurant-type div {
  display: inline-block;
}
